<div class="text">
    <div class="container blogBoxCont">
        <div class="row headerRow">
            <div class="col-8">
                <h2 class="blogTitle text-uppercase font-weight-bold mt-5">{{$post->title}}</h2>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <p class="blogCreate text-right">Created by {{user.Username}} on {{format_data data_created}}</p>
            </div>
        </div>
        <p class="text-center blogDescTwo">{{description}}</p>
    </div>

    {{if loggedIn}}

    <form class"New-comment-form formCont d-flex flex-wrap justify-centent" data-blogid={{id}}>
        <div class="textAreaCont p-2">
            <textarea id="newCommentText" placeholder="Write a comment..." required></textarea>
            <button type="submit" class="btn btn-primary submitBtn">Submit</button>
        </div>
    </form>
    
    {{/if}}

    <h2 class="text-center">Comments</h2>
    {{#each comments as |comment|}}
       <div class="commentCont">
			<p class="text-center commentText">{{comment.comment_description}}</p>
			<p class="text-center commentOwner"><span>~</span>Created by {{comment.user.username}} on {{format_date date_created}}<span>~</span></p>
		</div>
		{{/each}}

<script src="./public/js/comments.js"></script>
<script src="./public/js/editor.js"></script>