{{#if loggedIn}}
<div id="editor"></div>
<section>
    <div class="post-logo" id="post-logo">
        <h2>My Feed</h2>
    </div>
    <ul id="post-list">
        {{#each posts as | post |}}
        <ul class="post-item">
            <div class="post-content">
                <h3>{{post.title}}</h3>
                <p>{{post.content}}</p>
            </div>
            <div class="post-meta">
                <ul class="categories">
                    {{#each post.categories as | category |}}
                    <li>{{category}}</li>
                    {{/each}}
                </ul>
                <div class="post-actions">
                    <button data-id={{post.post_id}} class="delete-btn">Delete</button>
                </div>
            </div>
        </ul>
        {{/each}}
    </ul>
</section>
<section>
    <h2>New Post</h2>
    <form id="new-post-form">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <label for="content">Content:</label>
        <textarea id="content" name="content"></textarea>
        <button data-id={{post.post_id}} type="submit">Create Post</button>
    </form>
</section>
<script src="/js/create-post.js"></script>
<script src="/js/delete-post.js"></script>
{{else}}
<section>
    <h5 class="login-welcome-post" id="login-welcome-post">
        Please log in to view the latest posts!
    </h5>
</section>
{{/if}}
<script src="/js/editor.js"></script>